(Advanced) Multimedia Information Processing and Communications/05 Multimedia Content Storage and Description/metadata/BiM_impl/navigation_path/examples/audioVer3.xsd

<schema targetNamespace="http://www.mpeg7.org/2001/MPEG-7_Schema" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:mpeg7="http://www.mpeg7.org/2001/MPEG-7_Schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- ##################################################################### -->
	<!-- Definition of AudioLLDScalarType                                      -->
	<!-- ##################################################################### -->
	<complexType name="AudioLLDScalarType" abstract="true">
		<complexContent>
			<extension base="mpeg7:AudioDType">
				<choice>
					<element name="Scalar" type="float"/>
					<element name="SeriesOfScalar">
						<complexType>
							<complexContent>
								<extension base="mpeg7:SeriesOfScalarType">
									<attribute name="hopSize" type="mpeg7:mediaDurationType" use="default" value="10F1000"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</choice>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of AudioLLDVectorType                                      -->
	<!-- ##################################################################### -->
	<complexType name="AudioLLDVectorType" abstract="true">
		<complexContent>
			<extension base="mpeg7:AudioDType">
				<choice>
					<element name="Vector" type="mpeg7:floatVector"/>
					<element name="SeriesOfVector">
						<complexType>
							<complexContent>
								<extension base="mpeg7:SeriesOfVectorType">
									<attribute name="hopSize" type="mpeg7:mediaDurationType" use="default" value="10F1000"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</choice>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of AudioSampledType                                        -->
	<!-- ##################################################################### -->
	<complexType name="AudioSampledType" abstract="true">
		<complexContent>
			<extension base="mpeg7:AudioDType">
				<sequence>
					<element name="hopSize" type="mpeg7:IncrDurationType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of AudioWaveformType                                       -->
	<!-- ##################################################################### -->
	<complexType name="AudioWaveformType">
		<complexContent>
			<extension base="mpeg7:AudioLLDScalarType">
				<attribute name="minRange" type="float"/>
				<attribute name="maxRange" type="float"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of audioSpectrumAttributeGrp                               -->
	<!-- ##################################################################### -->
	<attributeGroup name="audioSpectrumAttributeGrp">
		<annotation>
			<documentation>Edge values are in Hertz</documentation>
		</annotation>
		<attribute name="loEdge" type="float" use="default" value="62.5"/>
		<attribute name="hiEdge" type="float" use="default" value="16000"/>
		<attribute name="resolution">
			<simpleType>
				<restriction base="string">
					<enumeration value="1/16 octave"/>
					<enumeration value="1/8 octave"/>
					<enumeration value="1/4 octave"/>
					<enumeration value="1/2 octave"/>
					<enumeration value="1 octave"/>
					<enumeration value="2 octave"/>
					<enumeration value="4 octave"/>
					<enumeration value="8 octave"/>
				</restriction>
			</simpleType>
		</attribute>
	</attributeGroup>
	<!-- ##################################################################### -->
	<!-- Definition of AudioSpectrumEnvelopeType                               -->
	<!-- ##################################################################### -->
	<complexType name="AudioSpectrumEnvelopeType">
		<complexContent>
			<extension base="mpeg7:AudioLLDVectorType">
				<attributeGroup ref="mpeg7:audioSpectrumAttributeGrp"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of AudioPowerType                                          -->
	<!-- ##################################################################### -->
	<complexType name="AudioPowerType">
		<complexContent>
			<extension base="mpeg7:AudioLLDScalarType"/>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of AudioSpectrumCentroidType, the center of gravity of     -->
	<!-- log-frequency power spectrum                                          -->
	<!-- ##################################################################### -->
	<complexType name="AudioSpectrumCentroidType">
		<complexContent>
			<extension base="mpeg7:AudioLLDScalarType"/>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of AudioSpectrumSpreadType, the second moment of           -->
	<!-- log-frequency power spectrum                                          -->
	<!-- ##################################################################### -->
	<complexType name="AudioSpectrumSpreadType">
		<complexContent>
			<extension base="mpeg7:AudioLLDScalarType"/>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of AudioFundamentalFrequencyType                           -->
	<!-- ##################################################################### -->
	<complexType name="AudioFundamentalFrequencyType">
		<complexContent>
			<extension base="mpeg7:AudioLLDScalarType">
				<attribute name="loLimit" type="float" use="default" value="25"/>
				<attribute name="hiLimit" type="float" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of AudioHarmonicityType, the ratio of harmonic power to    -->
	<!-- total power & upper limit of harmonicity                              -->
	<!-- ##################################################################### -->
	<complexType name="AudioHarmonicityType">
		<complexContent>
			<extension base="mpeg7:AudioDType">
				<sequence>
					<element name="HarmonicRatio">
						<complexType>
							<complexContent>
								<extension base="mpeg7:AudioLLDScalarType"/>
							</complexContent>
						</complexType>
					</element>
					<element name="UpperLimitOfHarmonicity">
						<complexType>
							<complexContent>
								<extension base="mpeg7:AudioLLDScalarType"/>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of AudioSpectrumFlatnessType                               -->
	<!-- ##################################################################### -->
	<complexType name="AudioSpectrumFlatnessType">
		<complexContent>
			<extension base="mpeg7:AudioLLDVectorType">
				<attribute name="numBands" use="default" value="8">
					<simpleType>
						<restriction base="string">
							<enumeration value="4"/>
							<enumeration value="8"/>
							<enumeration value="16"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of AudioSpectrumBasisType                                  -->
	<!-- ##################################################################### -->
	<complexType name="AudioSpectrumBasisType">
		<complexContent>
			<extension base="mpeg7:AudioDType">
				<sequence>
					<element name="BasisFunctions" type="mpeg7:DoubleMatrixType"/>
				</sequence>
				<attributeGroup ref="mpeg7:audioSpectrumAttributeGrp"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of AudioSpectrumProjectionType                             -->
	<!-- ##################################################################### -->
	<complexType name="AudioSpectrumProjectionType">
		<complexContent>
			<extension base="mpeg7:AudioLLDVectorType"/>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of TimbreDescriptorType                                    -->
	<!-- ##################################################################### -->
	<complexType name="TimbreDescriptorType" abstract="true">
		<complexContent>
			<extension base="mpeg7:AudioLLDScalarType">
				<attribute name="confidence" type="mpeg7:zeroToOneType"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of LogAttackTimeType                                       -->
	<!-- ##################################################################### -->
	<complexType name="LogAttackTimeType">
		<complexContent>
			<extension base="mpeg7:TimbreDescriptorType"/>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of HarmonicSpectralCentroidType                            -->
	<!-- ##################################################################### -->
	<complexType name="HarmonicSpectralCentroidType">
		<complexContent>
			<extension base="mpeg7:TimbreDescriptorType"/>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of HarmonicSpectralDeviationType                           -->
	<!-- ##################################################################### -->
	<complexType name="HarmonicSpectralDeviationType">
		<complexContent>
			<extension base="mpeg7:TimbreDescriptorType"/>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of HarmonicSpectralSpreadType                              -->
	<!-- ##################################################################### -->
	<complexType name="HarmonicSpectralSpreadType">
		<complexContent>
			<extension base="mpeg7:TimbreDescriptorType"/>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of HarmonicSpectralVariationType                           -->
	<!-- ##################################################################### -->
	<complexType name="HarmonicSpectralVariationType">
		<complexContent>
			<extension base="mpeg7:TimbreDescriptorType"/>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SpectralCentroidType                                    -->
	<!-- ##################################################################### -->
	<complexType name="SpectralCentroidType">
		<complexContent>
			<extension base="mpeg7:TimbreDescriptorType"/>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of TemporalCentroidType                                    -->
	<!-- ##################################################################### -->
	<complexType name="TemporalCentroidType">
		<complexContent>
			<extension base="mpeg7:TimbreDescriptorType"/>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of abstract ScalableSeriesType                             -->
	<!-- ##################################################################### -->
	<complexType name="ScalableSeriesType" abstract="true">
		<sequence>
			<element name="Scaling" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<attribute name="ratio" type="positiveInteger" use="required"/>
					<attribute name="elementNum" type="positiveInteger" use="required"/>
				</complexType>
			</element>
		</sequence>
		<attribute name="totalSampleNum" type="positiveInteger" use="required"/>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SeriesOfScalarType                                      -->
	<!-- ##################################################################### -->
	<complexType name="SeriesOfScalarType">
		<complexContent>
			<extension base="mpeg7:ScalableSeriesType">
				<sequence>
					<element name="Raw" type="mpeg7:floatVector" minOccurs="0"/>
					<element name="Min" type="mpeg7:floatVector" minOccurs="0"/>
					<element name="Max" type="mpeg7:floatVector" minOccurs="0"/>
					<element name="Mean" type="mpeg7:floatVector" minOccurs="0"/>
					<element name="Random" type="mpeg7:floatVector" minOccurs="0"/>
					<element name="First" type="mpeg7:floatVector" minOccurs="0"/>
					<element name="Last" type="mpeg7:floatVector" minOccurs="0"/>
					<element name="Variance" type="mpeg7:floatVector" minOccurs="0"/>
					<element name="Weight" type="mpeg7:floatVector" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SeriesOfScalarBinaryType                                -->
	<!-- ##################################################################### -->
	<complexType name="SeriesOfScalarBinaryType">
		<complexContent>
			<extension base="mpeg7:SeriesOfScalarType">
				<sequence>
					<element name="VarianceScalewise" type="mpeg7:FloatMatrixType" minOccurs="0"/>
				</sequence>
				<attribute name="rootFirst" type="boolean" use="default" value="false"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SeriesOfVectorType                                      -->
	<!-- ##################################################################### -->
	<complexType name="SeriesOfVectorType">
		<complexContent>
			<extension base="mpeg7:ScalableSeriesType">
				<sequence>
					<element name="Raw" type="mpeg7:FloatMatrixType" minOccurs="0"/>
					<element name="Min" type="mpeg7:FloatMatrixType" minOccurs="0"/>
					<element name="Max" type="mpeg7:FloatMatrixType" minOccurs="0"/>
					<element name="Mean" type="mpeg7:FloatMatrixType" minOccurs="0"/>
					<element name="Random" type="mpeg7:FloatMatrixType" minOccurs="0"/>
					<element name="First" type="mpeg7:FloatMatrixType" minOccurs="0"/>
					<element name="Last" type="mpeg7:FloatMatrixType" minOccurs="0"/>
					<element name="Variance" type="mpeg7:FloatMatrixType" minOccurs="0"/>
					<element name="Covariance" type="mpeg7:FloatMatrixType" minOccurs="0"/>
					<element name="VarianceSummed" type="mpeg7:floatVector" minOccurs="0"/>
					<element name="MaxSqDist" type="mpeg7:floatVector" minOccurs="0"/>
					<element name="Weight" type="mpeg7:floatVector" minOccurs="0"/>
				</sequence>
				<attribute name="vectorSize" type="positiveInteger" use="default" value="1"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SeriesOfVectorBinaryType                                -->
	<!-- ##################################################################### -->
	<complexType name="SeriesOfVectorBinaryType">
		<complexContent>
			<extension base="mpeg7:SeriesOfVectorType">
				<sequence>
					<element name="VarianceScalewise" type="mpeg7:FloatMatrixType" minOccurs="0"/>
				</sequence>
				<attribute name="rootFirst" type="boolean" use="default" value="false"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SilenceHeaderType                                       -->
	<!-- ##################################################################### -->
	<complexType name="SilenceHeaderType">
		<complexContent>
			<extension base="mpeg7:HeaderType">
				<sequence>
					<element name="minDuration" type="mpeg7:mediaDurationType"/>
				</sequence>
				<!--attribute name="id" type="ID"/-->
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of Silence                                                 -->
	<!-- ##################################################################### -->
	<complexType name="SilenceType">
		<complexContent>
			<extension base="mpeg7:AudioDType">
				<attribute name="confidence" type="mpeg7:zeroToOneType" use="default" value="1.0"/>
				<attribute name="minDurationRef" type="anyURI" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of InstrumentTimbreType                                    -->
	<!-- ##################################################################### -->
	<complexType name="InstrumentTimbreType">
		<complexContent>
			<extension base="mpeg7:AudioDSType">
				<sequence>
					<element name="LogAttackTime" type="mpeg7:LogAttackTimeType" minOccurs="0"/>
					<element name="HarmonicSpectralCentroid" type="mpeg7:HarmonicSpectralCentroidType" minOccurs="0"/>
					<element name="HarmonicSpectralDeviation" type="mpeg7:HarmonicSpectralDeviationType" minOccurs="0"/>
					<element name="HarmonicSpectralSpread" type="mpeg7:HarmonicSpectralSpreadType" minOccurs="0"/>
					<element name="HarmonicSpectralVariation" type="mpeg7:HarmonicSpectralVariationType" minOccurs="0"/>
					<element name="SpectralCentroid" type="mpeg7:SpectralCentroidType" minOccurs="0"/>
					<element name="TemporalCentroid" type="mpeg7:TemporalCentroidType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of HarmonicInstrumentTimbreType                            -->
	<!-- ##################################################################### -->
	<complexType name="HarmonicInstrumentTimbreType">
		<complexContent>
			<extension base="mpeg7:AudioDSType">
				<sequence>
					<element name="LogAttackTime" type="mpeg7:LogAttackTimeType"/>
					<element name="HarmonicSpectralCentroid" type="mpeg7:HarmonicSpectralCentroidType"/>
					<element name="HarmonicSpectralDeviation" type="mpeg7:HarmonicSpectralDeviationType"/>
					<element name="HarmonicSpectralSpread" type="mpeg7:HarmonicSpectralSpreadType"/>
					<element name="HarmonicSpectralVariation" type="mpeg7:HarmonicSpectralVariationType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of PercussiveInstrumentTimbreType                          -->
	<!-- ##################################################################### -->
	<complexType name="PercussiveInstrumentTimbreType">
		<complexContent>
			<extension base="mpeg7:AudioDSType">
				<sequence>
					<element name="LogAttackTime" type="mpeg7:LogAttackTimeType"/>
					<element name="SpectralCentroid" type="mpeg7:SpectralCentroidType"/>
					<element name="TemporalCentroid" type="mpeg7:TemporalCentroidType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SpokenContentHeaderType                                 -->
	<!-- ##################################################################### -->
	<complexType name="SpokenContentHeaderType">
		<complexContent>
			<extension base="mpeg7:HeaderType">
				<sequence>
					<choice maxOccurs="unbounded">
						<!-- Information about the word and phone lexicons used to       -->
						<!-- represent the speech                                        -->
						<element name="WordLexicon" type="mpeg7:WordLexiconType"/>
						<element name="PhoneLexicon" type="mpeg7:PhoneLexiconType"/>
					</choice>
					<element name="ConfusionStatistics" type="mpeg7:ConfusionStatisticsType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="DescriptionMetadata" type="mpeg7:DescriptionMetadataType" minOccurs="0"/>
					<!-- Information about the speakers in the audio                   -->
					<element name="SpeakerInfo" type="mpeg7:SpeakerInfoType" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SpeakerInfoType                                         -->
	<!-- ##################################################################### -->
	<complexType name="SpeakerInfoType">
		<complexContent>
			<extension base="mpeg7:HeaderType">
				<sequence>
					<element name="SpokenLanguage" type="language"/>
					<element name="Person" type="mpeg7:PersonType" minOccurs="0"/>
					<element name="WordIndex" minOccurs="0">
						<complexType>
							<sequence>
								<element name="WordIndexEntry" maxOccurs="unbounded">
									<complexType>
										<sequence>
											<element name="IndexEntry" type="mpeg7:SpokenContentIndexEntryType" maxOccurs="unbounded"/>
										</sequence>
										<attribute name="key" use="required">
											<simpleType>
												<list itemType="mpeg7:WordType"/>
											</simpleType>
										</attribute>
									</complexType>
								</element>
							</sequence>
							<attribute name="defaultLattice" type="anyURI" use="required"/>
						</complexType>
					</element>
					<element name="PhoneIndex" minOccurs="0">
						<complexType>
							<sequence>
								<element name="PhoneIndexEntry" maxOccurs="unbounded">
									<complexType>
										<sequence>
											<element name="IndexEntry" type="mpeg7:SpokenContentIndexEntryType" maxOccurs="unbounded"/>
										</sequence>
										<attribute name="key" use="required">
											<simpleType>
												<list itemType="mpeg7:PhoneType"/>
											</simpleType>
										</attribute>
									</complexType>
								</element>
							</sequence>
							<attribute name="defaultLattice" type="anyURI" use="required"/>
						</complexType>
					</element>
				</sequence>
				<attribute name="phoneLexiconRef" type="anyURI"/>
				<attribute name="wordLexiconRef" type="anyURI"/>
				<attribute name="confusionStatisticsRef" type="anyURI"/>
				<attribute name="descriptionMetadataRef" type="anyURI"/>
				<attribute name="provenance" use="required">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="unknown"/>
							<enumeration value="ASR"/>
							<enumeration value="manual"/>
							<enumeration value="keyword"/>
							<enumeration value="parsing"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SpokenContentIndexEntry                                 -->
	<!-- ##################################################################### -->
	<complexType name="SpokenContentIndexEntryType">
		<attribute name="node" type="mpeg7:SpokenContentNodeCountType" use="required"/>
		<attribute name="block" type="mpeg7:SpokenContentBlockCountType" use="required"/>
		<attribute name="lattice" type="anyURI" use="optional"/>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SpokenContent?CountTypes. SpokenContent?CountTypes      -->
	<!-- define the number of blocks per lattice and the number of nodes per   -->
	<!-- block respectively                                                    -->
	<!-- ##################################################################### -->
	<simpleType name="SpokenContentBlockCountType">
		<restriction base="mpeg7:unsigned16"/>
	</simpleType>
	<simpleType name="SpokenContentNodeCountType">
		<restriction base="mpeg7:unsigned16"/>
	</simpleType>
	<!-- ##################################################################### -->
	<!-- Defintion of SpokenContent Word and Phone Types. The individual words -->
	<!-- and phones are represented by strings in XML                          -->
	<!-- ##################################################################### -->
	<simpleType name="WordType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="PhoneType">
		<restriction base="string"/>
	</simpleType>
	<!-- ##################################################################### -->
	<!-- Definition of LexiconType                                             -->
	<!-- ##################################################################### -->
	<complexType name="LexiconType" abstract="true">
		<complexContent>
			<extension base="mpeg7:HeaderType">
				<attribute name="numOriginalEntries" type="positiveInteger"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of WordLexiconType. This is just a list of words           -->
	<!-- ##################################################################### -->
	<complexType name="WordLexiconType">
		<complexContent>
			<extension base="mpeg7:LexiconType">
				<sequence>
					<element name="Token" type="mpeg7:WordType" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of phoneticAlphabetType                                    -->
	<!-- ##################################################################### -->
	<simpleType name="phoneticAlphabetType">
		<!-- This defines an [enumerated] type covering the phone sets. It       -->
		<!-- essentially distinguishes between IPA based systems and everything  -->
		<!-- else.                                                               -->
		<restriction base="NMTOKEN">
			<enumeration value="SAMPA"/>
			<enumeration value="IPASymbol"/>
			<enumeration value="IPANumber"/>
			<enumeration value="other"/>
		</restriction>
	</simpleType>
	<!-- ##################################################################### -->
	<!-- Definition of PhoneLexiconType                                        -->
	<!-- ##################################################################### -->
	<complexType name="PhoneLexiconType">
		<complexContent>
			<extension base="mpeg7:LexiconType">
				<sequence>
					<element name="Token" type="mpeg7:PhoneType" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="phoneticAlphabet" type="mpeg7:phoneticAlphabetType" use="default" value="SAMPA"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of ConfusionStatisticsType                                 -->
	<!-- ##################################################################### -->
	<complexType name="ConfusionStatisticsType">
		<complexContent>
			<extension base="mpeg7:HeaderType">
				<sequence>
					<element name="InsertionCount" type="mpeg7:integerVector"/>
					<element name="DeletionCount" type="mpeg7:integerVector"/>
					<element name="SubstitutionCount" type="mpeg7:IntegerMatrixType"/>
				</sequence>
				<attribute name="numDimensions" type="positiveInteger" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of the SpokenContentLatticeType                            -->
	<!-- ##################################################################### -->
	<complexType name="SpokenContentLatticeType">
		<complexContent>
			<extension base="mpeg7:AudioDSType">
				<sequence>
					<element name="Block" maxOccurs="65536">
						<complexType>
							<sequence>
								<element name="MediaTime" type="mpeg7:MediaTimeType"/>
								<element name="Node" maxOccurs="65536">
									<complexType>
										<sequence>
											<element name="WordLink" minOccurs="0" maxOccurs="127">
												<complexType>
													<complexContent>
														<extension base="mpeg7:SpokenContentLinkType">
															<attribute name="word" type="mpeg7:WordType" use="required"/>
														</extension>
													</complexContent>
												</complexType>
											</element>
											<element name="PhoneLink" minOccurs="0" maxOccurs="127">
												<complexType>
													<complexContent>
														<extension base="mpeg7:SpokenContentLinkType">
															<attribute name="phone" type="mpeg7:PhoneType" use="required"/>
														</extension>
													</complexContent>
												</complexType>
											</element>
										</sequence>
										<attribute name="num" type="mpeg7:SpokenContentNodeCountType" use="required"/>
										<attribute name="timeOffset" type="mpeg7:unsigned16" use="required"/>
										<attribute name="speakerInfo" type="anyURI" use="optional"/>
									</complexType>
								</element>
							</sequence>
							<attribute name="defaultSpeakerInfo" type="anyURI" use="required"/>
							<attribute name="num" type="mpeg7:SpokenContentBlockCountType" use="required"/>
							<attribute name="audio" use="default" value="speech">
								<simpleType>
									<!-- This gives an approximate measure of how noisy the    -->
									<!-- speech signal is with respect to the speech           -->
									<restriction base="NMTOKEN">
										<enumeration value="unknown"/>
										<enumeration value="speech"/>
										<enumeration value="noise"/>
										<enumeration value="noisySpeech"/>
									</restriction>
								</simpleType>
							</attribute>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SpokenContentLinkType                                   -->
	<!-- ##################################################################### -->
	<complexType name="SpokenContentLinkType" abstract="true">
		<attribute name="probability" type="mpeg7:zeroToOneType" use="default" value="1.0"/>
		<attribute name="nodeOffset" type="mpeg7:SpokenContentNodeCountType" use="default" value="1"/>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SoundEffectFeaturesType                                 -->
	<!-- ##################################################################### -->
	<complexType name="SoundCategoryType">
		<complexContent>
			<extension base="mpeg7:ControlledTermUseType"/>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SoundRecognitionFeaturesType                            -->
	<!-- ##################################################################### -->
	<complexType name="SoundRecognitionFeaturesType">
		<complexContent>
			<extension base="mpeg7:PackageType">
				<sequence minOccurs="1">
					<element name="DefaultSoundRecognitionScheme" type="QName" default="mpeg7:SpectrumBasisProjectionType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SoundModelType                                          -->
	<!-- ##################################################################### -->
	<complexType name="SoundModelType">
		<complexContent>
			<extension base="mpeg7:HeaderType">
				<sequence>
					<element name="DescriptionMetadata" type="mpeg7:DescriptionMetadataType"/>
					<element name="SoundRecognitionFeatures" type="mpeg7:SoundRecognitionFeaturesType" minOccurs="1"/>
					<element name="ProbabilityModel" type="mpeg7:ProbabilityModelType" minOccurs="1"/>
					<element name="SpectrumBasis" type="mpeg7:AudioSpectrumBasisType" minOccurs="1"/>
				</sequence>
				<attribute name="SoundEffectCategoryRef" type="anyURI" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SoundModelStatePathType                                 -->
	<!-- ##################################################################### -->
	<complexType name="SoundModelStatePathType">
		<complexContent>
			<extension base="mpeg7:AudioDSType">
				<sequence>
					<element name="SoundEffectModelRef" type="anyURI" minOccurs="1"/>
					<element name="StatePath" type="mpeg7:AudioLLDScalarType" minOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SoundModelStateHistogramType                            -->
	<!-- ##################################################################### -->
	<complexType name="SoundModelStateHistogramType">
		<complexContent>
			<extension base="mpeg7:AudioDType">
				<sequence minOccurs="1">
					<element name="StateRef" type="anyURI" minOccurs="1"/>
					<element name="Frequency" type="float" minOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SoundEffectRelationLinkType                             -->
	<!-- ##################################################################### -->
	<complexType name="SoundEffectRelationLinkType">
		<complexContent>
			<extension base="mpeg7:RelationType">
				<sequence>
					<element name="SoundEffectModelRef" type="anyURI"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of SoundClassifierType                                     -->
	<!-- ##################################################################### -->
	<complexType name="SoundClassifierType">
		<complexContent>
			<extension base="mpeg7:HeaderType">
				<sequence maxOccurs="unbounded">
					<element name="SoundModelRef" type="anyURI"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of MelodyType                                              -->
	<!-- ##################################################################### -->
	<complexType name="MelodyType">
		<complexContent>
			<extension base="mpeg7:AudioDSType">
				<sequence>
					<element name="MelodyMeter" type="mpeg7:MeterType" minOccurs="0"/>
					<element name="MelodyScale" type="mpeg7:MelodyScaleType" minOccurs="0"/>
					<element name="MelodyKey" type="mpeg7:MelodyKeyType" minOccurs="0"/>
					<element name="MelodySequence" type="mpeg7:MelodySequenceType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of MelodyScale                                             -->
	<!-- ##################################################################### -->
	<!-- Information about a scale                                             -->
	<!-- array of a repeatable span of notes, in semitones from base pitch     -->
	<complexType name="MelodyScaleType">
		<simpleContent>
			<restriction base="mpeg7:floatVector"/>
		</simpleContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of MelodyKey                                               -->
	<!-- ##################################################################### -->
	<!-- Information about the key                                             -->
	<complexType name="MelodyKeyType">
		<complexContent>
			<extension base="mpeg7:AudioDSType">
				<sequence>
					<element name="KeyNote">
						<complexType>
							<simpleContent>
								<extension base="mpeg7:degreeNoteType">
									<attribute name="display" type="string"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
				<attribute name="accidental" type="mpeg7:degreeAccidentalType" use="default" value="natural"/>
				<attribute name="mode" use="default" value="major">
					<simpleType>
						<restriction base="string">
							<enumeration value="major"/>
							<enumeration value="minor"/>
							<enumeration value="otherMode"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="keySignificance" type="boolean" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<simpleType name="degreeNoteType">
		<restriction base="string">
			<enumeration value="C"/>
			<enumeration value="D"/>
			<enumeration value="E"/>
			<enumeration value="F"/>
			<enumeration value="G"/>
			<enumeration value="A"/>
			<enumeration value="B"/>
		</restriction>
	</simpleType>
	<simpleType name="degreeAccidentalType">
		<restriction base="string">
			<enumeration value="flat"/>
			<enumeration value="natural"/>
			<enumeration value="sharp"/>
			<enumeration value="doubleSharp"/>
			<enumeration value="doubleFlat"/>
		</restriction>
	</simpleType>
	<!-- ##################################################################### -->
	<!-- Definition of MelodySequence                                          -->
	<!-- ##################################################################### -->
	<complexType name="MelodySequenceType">
		<complexContent>
			<extension base="mpeg7:AudioDSType">
				<sequence>
					<element name="StartingNote" minOccurs="0">
						<complexType>
							<sequence>
								<element name="StartingFrequency" type="float" minOccurs="0"/>
								<element name="StartingPitch" minOccurs="0">
									<complexType>
										<sequence>
											<element name="PitchNote">
												<complexType>
													<simpleContent>
														<extension base="mpeg7:degreeNoteType">
															<attribute name="display" type="string"/>
														</extension>
													</simpleContent>
												</complexType>
											</element>
										</sequence>
										<attribute name="accidental" type="mpeg7:degreeAccidentalType" use="default" value="natural"/>
										<attribute name="height" type="integer"/>
									</complexType>
								</element>
								<!-- Starting Frequency in Hertz                             -->
								<!-- Starting Pitch in chroma & octave number                -->
							</sequence>
						</complexType>
					</element>
					<element name="NoteArray">
						<complexType>
							<complexContent>
								<extension base="mpeg7:AudioDSType">
									<sequence>
										<element name="Note" maxOccurs="unbounded">
											<complexType>
												<sequence>
													<element name="Interval" type="float"/>
													<element name="NoteRelDuration" type="float"/>
													<element name="Lyric" type="mpeg7:WordType" minOccurs="0"/>
													<element name="PhoneNGram" minOccurs="0">
														<simpleType>
															<list itemType="mpeg7:PhoneType"/>
														</simpleType>
													</element>
													<!-- See Spoken Content for details                -->
												</sequence>
											</complexType>
										</element>
									</sequence>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of MelodyContourType                                       -->
	<!-- ##################################################################### -->
	<complexType name="MelodyContourType">
		<complexContent>
			<extension base="mpeg7:AudioDSType">
				<sequence>
					<element name="Contour" type="mpeg7:ContourType"/>
					<element name="Meter" type="mpeg7:MeterType" maxOccurs="unbounded"/>
					<element name="Beat" type="mpeg7:BeatType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of ContourType                                             -->
	<!-- ##################################################################### -->
	<!-- Definition of "ContourType"                                           -->
	<complexType name="ContourType">
		<complexContent>
			<extension base="mpeg7:AudioDType">
				<sequence>
					<element name="ContourData" type="mpeg7:pitchContourDataType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of pitchContourDataType                                    -->
	<!-- ##################################################################### -->
	<simpleType name="pitchContourDataType">
		<!-- Five contour values: -2 -1 0 +1 +2                                  -->
		<list>
			<simpleType>
				<restriction base="integer">
					<minInclusive value="-2"/>
					<maxInclusive value="+2"/>
				</restriction>
			</simpleType>
		</list>
	</simpleType>
	<!-- ##################################################################### -->
	<!-- Definition of MeterType                                               -->
	<!-- ##################################################################### -->
	<complexType name="MeterType">
		<complexContent>
			<extension base="mpeg7:AudioDType">
				<sequence>
					<element name="Numerator">
						<simpleType>
							<!-- Allow arbitrary metric divisions up to 128                -->
							<restriction base="integer">
								<minInclusive value="1"/>
								<maxInclusive value="128"/>
							</restriction>
						</simpleType>
					</element>
					<element name="Denominator">
						<simpleType>
							<!-- Allow powers of two, 1 to 128                             -->
							<restriction base="integer">
								<enumeration value="1"/>
								<enumeration value="2"/>
								<enumeration value="4"/>
								<enumeration value="8"/>
								<enumeration value="16"/>
								<enumeration value="32"/>
								<enumeration value="64"/>
								<enumeration value="128"/>
							</restriction>
						</simpleType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ##################################################################### -->
	<!-- Definition of BeatType                                                -->
	<!-- ##################################################################### -->
	<complexType name="BeatType">
		<complexContent>
			<extension base="mpeg7:AudioDType">
				<sequence>
					<element name="BeatData">
						<simpleType>
							<list itemType="integer"/>
						</simpleType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
